* {
    height: 50%;
}
body {
    background-image: linear-gradient(to left, white 30%, blue);
   

    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 0, 0, 0.753);
    font-family: sans;
    color: white;
    font-size: 50pt;
    text-align: center;
    line-height: 90px;
    height: 150px;
}

header:hover {
    color: blue 
}

#flag {
    width: 13%;
    margin:19px 0 0;
}

nav {
    background: rgba(46, 46, 236, 0.815);
    margin-top: 3px;
    height: 150px;;
}

nav li {
    display: inline-block;
    line-height: 100px;
    margin: 0 200px 0 300px;
}

li a {
    text-transform: uppercase;
    color:cornsilk;

}







